node_modules/
venv/
.venv/
env/
.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
*.txt
# Exclude potential large model files if they are not needed in git
modelFiles/*.bin
modelFiles/*.pt
modelFiles/*.pth
